@charset "UTF-8";
/* CSS Document */
html{   
    font-size:62.5%; /* 10÷1jb51ewm6=62.5% */  
} 

body{
	font-family: "Helvetica", "Arial",sans-serif;
	color:#333;
	background-color:#ccc;
	margin: 1rem 10%;
	}
	h1 {
		color:#333;;
		background-color: transparent;
		}
		a {
			color: #c60;
			background-color: transparent;
			font-weight:bold;
			text-decoration: none;
			}
			ul {
				width:50%;
				margin:0 auto;
				padding:0;
				display:inline;}
				li{
					float: left;
					padding: 1em;
					list-style: none;
					}
					#imagegallery{
						list-style:none;}
						#imagegallery li{
							display:inline;}
							#imagegallery li a img{
								border:0;}

